#login-container{
  margin: 0 auto;
  margin-top: 20%;
  max-width: 200px;
  min-width: 100px;
  text-align: center;
}

#login-container *{
  margin-top: 5px;
}

#login-container input{
  padding: 5px;
}

#login-container button{
  background-color: rgb(75,75,255);
  border: 0;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,1);
  cursor: pointer;
}
