<div id="main-login-wrapper">
  <div id="login-container">
    <input #txtLogin placeholder="Username" type="text" value="khs"/>
    <input #txtPassword placeholder="Password" type="password" value="khskhs"/>
    <button (click)="loginbutton_click(txtLogin.value, txtPassword.value)" >Login</button>
  </div>
</div>
